.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message.user {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.message.assistant {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1px;
  margin-left: 10%;
  margin-bottom: 10px;
}

.preset-buttons {
  display: block; /* Grid Layout を使用 */
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 5px;
  font-size: 14px;
}

.preset-button {
  padding: 6px 12px;
  min-width: auto;
  margin-right: 8px; /* 右側のマージン */
  margin-bottom: 8px; /* 下側のマージン */
}

.send-button {
  align-self: flex-end;
}

.preset-button.selected {
  background-color: #edff76;
}

.preset-group {
  border: 1px solid #878787;
  padding: 5px, 10px;
  margin-bottom: 0px; /* 必要に応じて調整 */
}

.input-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

